@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Serif:ital,wght@1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
/*-------------------------HEADER------------------------------*/
.main-header{
    width: 100%;
}
.name-profile{
    background-color: #F2F2F2;
    width: 40%;
    height: 90px;
    padding: 25px 15px;
    float: left;
}
.name-profile span a{
    color: #8C4E37; 
    text-align: center;
    font-family: 'Noto Serif', serif;
    font-size: 25px;
}
.name-profile span a:hover{
    color: #F25774;
    cursor: pointer;
}
.list {
    background-color: #F2F2F2;
    display: flex;
    float: left;
    width: 60%;
    height: 90px;
    list-style: none;
    justify-content: space-around;
}
.list li{
    padding: 30px 20px;
    height: 90px;
    width: 100%;
    text-align: center;
}
.list li:hover{
    cursor: pointer;
    background-color: #e2e2e2ab;
}
.list li:hover a{
    color: #F25774;
}
.list li a{
    color: #8C4E37;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    font-size: 20px;
}
.sub-list{
    position: absolute;
    right: 202.5px;
    top: 90px;
    width: 202.5px;
    list-style: none;
    background-color: #F2F2F2;
    display: none;
}
.list li:hover .sub-list li a{
    color: #8C4E37;
}
.list li:hover .sub-list li:hover a{
    color: #F25774;
}
.list li:hover .sub-list {
    display: block;
}
/*------------------------MAIN---------------------------*/
.menu-container {
    width: 100%;
}
.container-section-1{
    width: 100%;
    height: 920px;
    background-image: url(otros/background.jpg);
    background-size: cover;
    padding: 180px 150px;
}
.section-1 {
    height: 650px;
    width: 999px;
    display: flex;
    margin: auto;
}
.container-profile-picture{
    width: 499.5px;
    height: 650px;
}
.container-data{
    background-color: #f2f2f2e3;
    width: 499.5px;
    height: 650px;
    padding: 50px 70px;
}
#profile-nadia{
    width: 499.5px;
    height: 650px;
}
#name-title{
    font-family: 'Noto Serif', serif;
    font-size: 25px;
    text-align: center;
    color: #F25774;
    padding: 20px;  
}
#occupation{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: left;
    color: #8C4E37;
}
#occupation h3{
   padding: 20px;
}
#ph{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    font-size: 19px;
    color: #40241E;
    text-align: left;
    padding: 20px;   
}
#email{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    font-size: 19px;
    color: #40241E;
    text-align: left;
    padding: 20px;   
}
#dob{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    font-size: 19px;
    color: #40241E;
    text-align: left;
    padding: 20px;   
}
.container-section-2{
    width: 100%;
    height: 590px;
    background-color: #F2F2F2;
}
.section-2{
    background-color: #F2F2F2;
    height: 590px;
    width: 999px;
    margin: auto;
}
.container-presentation{
    padding: 10px;
    height: 60%;
    display: block;
    align-items: center;
    justify-content: center;
}
#greeting{
    font-family: 'Noto Serif', serif;    
    font-size: 25px;
    text-align: center;
    padding: 5px;
    color: #8C4E37;
}
#presentation{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    font-size: 20px;
    color: #40241E;
    text-align: center;
    line-height: 30px;
    padding: 5px;   
}
#available{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    color: #8C4E37;
}
.container-btn{
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
} 
#btn-contact{
    height: 70px;
    width: 200px;
    font-size: 25px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    background-color: #f2577441;
}
#btn-contact:hover{
    cursor: pointer;
    background-color: #f25774;
    color: #F2F2F2;
}
/*------------------------MAIN 2---------------------------*/
.container-emp{
    background-image: url(otros/background.jpg);
    background-size: cover;
    width: 100%;
    height: 1060px;
    padding: 180px 150px;
}
.EMPLOYMENT{
    background-color: #f2f2f2e3;
    height: 800px;
    width: 999px;
    margin: auto;
    padding: 30px;
}
.EMPLOYMENT h1{
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Serif', serif;    
    font-size: 25px;
    color: #F25774;
    height: 150px;
}
.article-container{
    display: flex;
    float: left;
    height: 550px;
    text-align: center;
    width: 939px;
}
.emp{
    width: 313px;
    padding: 10px;
    text-align: center;
}
.emp h3{
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #8C4E37;
    line-height: 25px;
}
.emp h4{
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #40241E;
}
.emp p{
    padding: 10px;
    color: #40241E;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    font-size: 15px;
    text-align: justify;
    line-height: 20px;
}
.container-skills{
    background-color:#e2e2e2ab;
    width: 100%;
    height: 400px;
    padding: 50px 150px;
}
.skills{
    margin: auto;
    background-color: #F2F2F2;
    width: 999px;
    height: 300px;
    padding: 20px;
}
.skills h2{
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Noto Serif', serif; 
    font-size: 25px;
    color: #F25774;
    height: 100px;
}
.skills-list{
    height: 150px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    float: left;
    align-items: center;
    padding: 20px;
}
.skills-list li{
    height: 60px;
}
#vuejs-icon{
    height: 60px;
}
#wp-icon{
    height: 60px;
}
#django-icon{
    height: 60px;
}
#html-icon{
    height: 60px;
}
#css-icon{
    height: 60px;
}
#js-icon{
    height: 60px;
}
.container-ed-lan{
    background-color:#8c4e373a;
    width: 100%;
    height: 300px;
    padding: 50px 150px;
}
.ed-lan{
    margin: auto;
    width: 999px;
    height: 200px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.education{
    width: 50%;
    height: 150px;
    padding: 10px 0px;
    text-align: center;
}
.languages{
    width: 50%;
    height: 150px;
    padding: 10px 0px;
    text-align: center;
}
.ed-lan h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: #8C4E37;
    padding: 10px;
}
.education h5{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: #40241E;
    padding: 10px;
}
.ed-lan p{
    color: #40241E;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    line-height: 25px;
}
.education p{
    padding: 10px;
    font-size: 15px;
}
.languages p{
    word-spacing: 100px;
    padding: 20px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
/*------------------------------FORM-----------------------------------*/
.main-container-contact-form{
    background-image: url(otros/background.jpg);
    background-size: cover;
    width: 100%;
    height: 900px;
    padding: 180px 150px;
}
.container-contact-form{
    margin: auto;
    background-color: #e2e2e2ab;
    width: 999px;
    height: 600px;
    padding: 20px;
}
.contact{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 20px 0px 20px;
}
.contact h1{
    font-family: 'Noto Serif', serif; 
    font-size: 35px;
    color: #F25774;
}
.container-form{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
form{
   width: 500px;
   height: 300px;
    
}
.container-name{
    width: 100%;
    height: 60px;
    padding: 10px;
}
.container-phone{
    width: 100%;
    height: 60px;
    padding: 10px;
}
.container-email{
    width: 100%;
    height: 60px;
    padding: 10px;
}
.container-message{
    width: 100%;
    height: 90px;
    padding: 10px;
}
.field{
    width: 100%;
    height: 40px;
    background-color: #e2e2e2ab;
    border: none;
    border-radius: 12px;
    padding: 20px;
    transition: width .35s ease-in-out;
    outline: none;
}
.field:focus{
    width: 500px;
    background-color: rgba(255, 255, 255, 0.37);
}
.field::placeholder{
    color: #40241E;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: left;
}
#email::placeholder{
    font-weight: normal;
}
#message{
    height: 70px;
}
#message::placeholder{
    text-align: center;
}
.container-btn-2{
    height: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
}
#btn-send{
    height: 40px;
    width: 90px;
    font-size: 20px;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    background-color: #f2577498;
    color: #40241E;
}
#btn-send:hover{
    cursor: pointer;
    background-color: #f25774;
    color: #F2F2F2;
}
/*------------------------FOOTER-----------------------------*/
.main-footer{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer{
    width: 100%;
    height: 100%;
}
.social{
    background-color: #e2e2e2;
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 70%;
    float: left;
    height: 100%;
    align-items: center;
    padding: 20px;
}
.social li{
    height: 30px;
}
svg {
    height: 30px;
    fill: #f25774;
}
.footer-text{
    width: 30%;
    height: 100%;
    display: flex;
    float: left;
    text-align: right;
    align-items: center;
    padding: 20px;
    background-color: #e2e2e2;
}
#foot{
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    font-size: 15px;
    color: #8C4E37;
}

